@mixin base-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

@mixin tabletUp {
  @media (min-width: 40rem) {
    @content;
  }
}

@mixin commonTranstition($name: 'v', $delay: .5s) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: opacity #{$delay}, transform #{$delay};
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }

  .#{$name}-enter-from,
  .#{$name}-leave-to {
    opacity: 0;
    transform: translateY(3rem);
  }
}