:root {
  --toolbar-height: 3rem;
  --main-tab-bar-height: 4rem;
  --primary: hsl(330, 94%, 34%);
  --main-columns: 1fr;
  --day-area: 1 / 1 / 2 / 2;
  --list-area: 2 / 1 / 3 / 2;
  --note-area: 1 / 1 / 3 / 2;
  --day-area-height: 8rem;
  --list-header-top: var(--day-area-height);
  --note-width: 0;
  --scratch-width: 100vw;

  --list-header-top: var(--day-area-height);
  --list-item-font-size: max(0.6875rem, min(1.3vw, .825rem));
  --list-item-line-height: calc(var(--list-item-font-size) * 1.375);

  @include tabletUp {
    --toolbar-height: 3rem;
    --main-tab-bar-height: 4rem;
    --main-columns: 20rem;
    --note-width: 20rem;
    --scratch-width: 20rem;
    --list-header-top: 0;
    --day-area: 1 / 1 / 2 / 2;
    --list-area: 2 / 1 / 3 / 2;
    --note-area: 1 / 2 / 3 / 3;
  }

  --p-200: hsl(330, 94%, 24%);
  --p-300: hsl(330, 94%, 34%);
  --p-400: hsl(330, 65%, 56%);
  --p-500: hsl(330, 65%, 76%);
  --p-600: hsl(330, 65%, 90%);
  --p-700: hsl(330, 65%, 96%);
  
  --black: #000;
  --n-100: hsl(0,0%,10%);
  --n-200: hsl(0deg 0% 15%);
  --n-300: hsl(0deg 0% 30%);
  --n-400: hsl(0deg 0% 44%);
  --n-500: hsl(0, 0%, 64%);
  --n-600: hsl(0, 0%, 80%);
  --white: #fff;
}
